<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Todo List</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
  <div class="card">
    <h1>Todo List</h1>
    <form class="add-form" action="/" method="POST">
      <input type="text" name="task" placeholder="Enter a task..." required />
      <button type="submit" title="Add Task">+</button>
    </form>

    <ul class="todo-list">
      <% newlistitems.forEach(function(todo) { %>
        <div class="task-item <%= todo.completed ? 'completed' : '' %>">
          <form action="/complete/<%= todo._id %>" method="POST" style="display:inline;">
            <input type="checkbox" name="completed" onchange="this.form.submit()" <%= todo.completed ? 'checked' : '' %> />
          </form>
          <span class="task-text"><%= todo.name %></span>
          <% if (todo.editing) { %>
            <form action="/update/<%= todo._id %>?_method=PUT" method="POST" class="edit-form">
              <input type="text" name="updatedTask" value="<%= todo.name %>" required />
              <button type="submit" title="Save"><i class="fas fa-save"></i></button>
            </form>
          <% } else { %>
            <form action="/edit/<%= todo._id %>" method="GET" class="edit-button-form">
              <button type="submit" title="Edit">
                <i class="fas fa-pen"></i>
              </button>
            </form>
          <% } %>
          <form action="/delete/<%= todo._id %>?_method=DELETE" method="POST" class="delete-form">
            <button type="submit" title="Delete">
              <i class="fas fa-trash"></i>
            </button>
          </form>
        </div>
      <% }); %>
    </ul>
  </div>
</body>
</html>
